.footer {
    background-color: black;
    color: grey;
    text-align: center;
    padding: 20px;
    font-size: 0.8em; /* Small text size */
  }
  
  .footer .icons {
    color: white;
    margin-bottom: 10px; /* Space between icons and text */
  }
  
  .footer .icons a {
    margin: 0 10px; /* Space around icons */
    font-size: 1.2em; /* Icon size */
  }
  
  /* Adapt or add media queries as necessary for responsiveness */
  @media (max-width: 600px) {
    .footer {
      padding: 10px;
      font-size: 0.7em;
    }
  
    .footer .icons a {
      margin: 0 5px; /* Lesser space around icons on smaller screens */
    }
  }
  